
        body{
            margin: 0;
            padding: 0;
            font-family: 'PT Serif', serif;
            background: #fff;
            overflow-y: hidden;
            overflow-x: scroll;
            
    
        }
        img{
            height: 90vh;
            margin-top: 1.5rem;
            margin-left: 1px;
            
        }
        #wid{
          margin-left: 2rem;
        }
        #hov-red{
          right: 0; 
          bottom: 0; 
          position: absolute;
        }
        .sidebar{
            position: fixed;
            top: 0;
            left: -225px;
            background: white;
            width: 225px;
            height: 100%;
            transition: .3s;
            padding-left: 15px;
            padding-top: 3rem;
        }
        ul{
            margin: 0;
            padding: 20px 0;
        }
        ul li{
            list-style: none;
        }
        ul li a{
            padding-top: 0;
            color: black;
            display: block;
            text-decoration: none;
        }
        
        .social_icons_wrap {
            margin-right: 14px;
            width: 180px;
          }
          
          ul.social_icons {
            float:left;
            list-style-type:none;
            padding: 0 0 0 1em;
            display: none;
            font-size: 14px;
            width: 100%;
          }
          
            ul.social_icons li.social_icon {
              -webkit-transition: opacity 0.3s ease;
              -moz-transition: opacity 0.3s ease;
              -ms-transition: opacity 0.3s ease;
              -o-transition: opacity 0.3s ease;
              transition: opacity 0.3s ease;
              -webkit-border-radius: 11px;
              -moz-border-radius: 11px;
              border-radius: 11px;
              cursor: pointer;
              *display:inline;
              display: inline-block;
              font-family: 'theme_social';
              font-size: 12px;
              line-height: 18px;
              filter: alpha(opacity=60);
              opacity: 0.6;
              padding: 1px;
              position: relative;
              text-align: center;
              width: 18px; height: 18px;
              zoom: 1;
            }
          
          
          
            ul.social_icons li.social_icon a {
              display: block;
              height: 20px;
              overflow: hidden;
              padding: 0;
              filter: alpha(opacity=0);
              opacity: 0;
              width: 20px;
              position: absolute; top: -1px; left: 0;
          
            }
          
          ul.social_icons  li.social_icon:hover {
            filter: alpha(opacity=100);
            opacity: 1;
          }
          
          
            ul.social_icons li.social_icon {
              background: #000;
            }
            ul.social_icons li.social_icon:before {
              color: #fff;
            }
            ul.social_icons li.social_icon a { color: #fff; }
          
          
          /* Share button */
          #share_button {
            font-family: "Helvetica", "Arial", sans-serif;
            display: inline-block;
            *display: inline;
            margin-left: 5px;
            position: relative;
            *right:0;
            margin-top: 10vh;
            /*top: 2px;*/
          }
          
          #share_button a {
            color: #ffffff;
          background: #000000;
            margin: 3px 3px 4px 0; /* was 0 3px 0 0 */
            padding: 4px 11px;
            position: relative;
            font-size: 14px;
            font-weight: bold;
            line-height: 1em;
            letter-spacing: 0.04em;
            top: 0;
            text-decoration: none;
          
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
          
            filter: alpha(opacity=60);
            opacity: 0.6;
          
            -webkit-transition: opacity 0.3s ease;
            -moz-transition: opacity 0.3s ease;
            -ms-transition: opacity 0.3s ease;
            -o-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
          
            font-family: arial;
            font-size: 11px;
          }
            #share_button a:hover,
            #share_button a:focus {
              filter: alpha(opacity=100);
              opacity: 1;
            }
          @media only screen and (min-width: 992px){
              button{
                  visibility: hidden;
              }
              .sidebar{
                  visibility: visible;
                  left: 0;
                  margin-left: 50px;
              }
              #main{
                  margin-left: 275px;
              }
              #wid{
                width: 5871px; 
                overflow: hidden;
              }
              .social_icon #social{
                width: 20px; 
                height: 20px; 
                border-radius: 20px; 
                background-color: rgba(0,0,0,0.6); 
                color: white; 
                padding-top: 4px; 
                font-size: 12px;
                }
                .social_icon{
                     margin-top: 41.5vh;
                    }
          }
          
          @media only screen and (max-width: 992px){
          #main{
              margin-left: 0;
          } 
          #top_nav{
            position: fixed;
            background: white;
            top: 0;
            visibility: visible;
            width: 100%;
            left: 1rem;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    
        #top_nav a{
            float: left;
        }
          .social_icon #social{
            width: 20px; 
            height: 20px; 
            border-radius: 20px; 
            background-color: rgba(0,0,0,0.6); 
            color: white; 
            padding-top: 4px; 
            font-size: 12px;
            }
            .social_icon{
                 margin-top: 41.5vh;
                }
          #wid{
            width: 5871px; 
            overflow: hidden;
          }
          .hamberger-menu{
            width: 1.5rem;
            height: 1.5rem;
            position: fixed;
            top: 1rem;
            right: 1rem;
            z-index: 200;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            cursor: pointer;
            float: right;
          }
          .line{
            width: 100%;
            height: 0.2rem;
            background-color: #000000;
            
          }
          .sidenav{
            width: 10rem;
            height: 90vh;
            margin-top: 10vh;
            position:fixed;
            top: 0;
            left: -10rem;
            background-color: white;
                        }
          .change .sidenav{
            left: 0rem;
          }
          .change .line{
            background-color: black;
          }
          .change .line1 {
            transform: rotate(45deg) translate(0.15rem, 0.43rem);
          }
          
          .change .line2 {
            opacity: 0;
            visibility: hidden;
          }
          
          .change .line3 {
            transform: rotate(-45deg) translate(0.15rem, -0.43rem);
          }
          #main{
            margin-top: 50px;
        }
        img{
          width: 90vw;

        }
        }
        @media only screen and (max-width: 576px){
            #main{
                margin-left: 0px;
            } 
    
            #top_nav{
                position: fixed;
                background: white;
                top: 0;
                visibility: visible;
                width: 100%;
                left: 0;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        
            #top_nav a{
                float: left;
            }
            body{
                overflow-y: hidden;
                overflow-x: scroll;
            }
            #main{
                margin-top: 50px;
            }
            img{
              width: 90vw;

            }
            #wid{
              width: 5871px; 
              overflow: hidden;
            }
            
            .hamberger-menu{
              width: 1.5rem;
              height: 1.5rem;
              position: fixed;
              top: 1rem;
              right: 1rem;
              z-index: 200;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              cursor: pointer;
              float: right;
            }
            .line{
              width: 100%;
              height: 0.2rem;
              background-color: #000000;
              
            }
            .sidenav{
              width: 100rem;
              height: 90vh;
              margin-top: 10vh;
              position:fixed;
              top: 0;
              left: -100rem;
              background-color: white;
                          }
            .change .sidenav{
              left: 0rem;
            }
            .change .line{
              background-color: black;
            }
            .change .line1 {
              transform: rotate(45deg) translate(0.15rem, 0.43rem);
            }
            
            .change .line2 {
              opacity: 0;
              visibility: hidden;
            }
            
            .change .line3 {
              transform: rotate(-45deg) translate(0.15rem, -0.43rem);
            }
            .menu {
              position: absolute;
              top: 30%;
              right: 75%;
              transform: translate(-50%, -50%);
            }
            .sing{
              position: absolute;
              bottom: 18%;
              right: 77%;
              transform: translate(-50%, -50%);
            }
            .menu-item {
              text-align: center;
            }
            
            .menu-link {
              font-family: "Baloo Da 2", serif;
              font-size: 1.2rem;
              line-height: 3rem;
              color: #555;
              position: relative;
            }
            .social_icon{
              justify-content: center;
              right: 73%;
              margin-top: 28vh;
            }
            .change #hov-red{
              position: relative;
              margin-left: 42%;
              bottom: 9rem;
            }
            .p .small{
              margin-top: 41.5vh;
              text-align: center;
            }
            .social_icon #social{
              width: 30px; 
              height: 30px; 
              border-radius: 30px; 
              background-color: rgba(0,0,0,0.6); 
              color: white; 
              padding-top: 7px; 
              font-size: 16px;
              }
            #share{
              visibility: hidden;
            }
            }
          
.social_icon a{
  text-decoration: none;
}
#share{
  height: 18px; 
  border-radius: 15px; 
  background-color: rgba(0,0,0,0.6); 
  color: white; 
  font-size: 12px;
  padding: 3px 12px;
  font-family: 'Noto Sans', sans-serif;
}

.social_icon a #social:hover{
    background-color: black;
}
.social_icon #share:hover{
    background-color: black;
}
#hov-red:hover{
  text-decoration-color: #969494;
  color: rgb(131, 127, 127);
}
#hov-red{
  color: rgb(184, 181, 181);
}
.ml50{
  margin-left: 24%;
  
}